#JCPP {
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.webhead {
	    font-size: 100%;
	    margin: 1em;
	    color: red;
}
.tech {
	font-size: 200%;
	    margin: 1em;
	    color: blue;
}

.figures {
	display: block;
	float: left;
	height: 25%;
	width: 35%;
	margin: 1em;
	padding: 1em;
	border: solid;
	text-align: justify;	
}
.quote {
	display: block;
	float: left;
	height: 25%;
	width: 35%;
	margin: 1em;
	padding: 1em;
	border: solid;
	text-align: justify;
}