#JCPP {
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.webhead {
	    font-size: 100%;
	    margin: 1em;
	    color: red;
}
.tech {
	font-size: 200%;
	    margin: 1em;
	    color: blue;
}

div {
	display: block;
	float: left;
}